.vegetables__box {
  display: flex;
  flex-direction: row;
  margin: 10px;
  gap:10px;
  min-width: 274px;
  justify-content: center;
  align-items: center;
}

.vegetables__card {
  margin: 10px;
  width: 500px;
  border: 2px solid black;
  border-radius: 15px;
  padding: 20px;
}